fastapi
uvicorn
python-multipart
python-dotenv
groq
openai
chromadb
sentence-transformers
torch
transformers
python-docx
pymupdf
docling
docling-core
pillow
pytesseract
pymupdf
python-docx
pytesseract
pillow
streamlit